{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% if title %}
  <title>{{title}}</title>
  {% else %}
      <title>InstaKid</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
  <link rel="shortcut icon" type="image/png" href="{% static 'images/PIN3.png' %}"/>

</head>

<body>

  {% block content %}
  {% include "navbar.html" %}
  {%endblock%}


  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>
