{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="mybg">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if form.errors %}
                    <p>Some Information Might Be Incorrect</p>
                {% endif %}
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="text-center">SIGN UP</h3>
                    </div>
                    <div class="card-body">
                        <form action="/accounts/register/" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                            <p>Already have an account? <a href="/accounts/login/" class="btn btn-default">Log In</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
