{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row mt-5"></div>
    <div class="row mt-5"></div>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="card card-info mt-5">
        <div class="card-header">
            <h2>Upload Image</h2>
        </div>
        <div class="card-body">
                <form action="{%url 'upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                    <input type="submit" class="btn btn-info btn-sm" value="Post">
                </div>
                <input type="hidden" name="next" value="{{next}}">
                </form>
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
{% endblock %}
