{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
        <title>InstaKid</title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/PIN3.png' %}"/>

</head>
<body>
    {% block content %}
    {% include "navbar.html" %}
    {% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
