{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% if user.is_authenticated %}
<nav class="navbar fixed-top">
  <section class="logo-section"><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png"/>
    <a href="{% url 'home' %}"><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/></a>
    </section>
    <form class="search-section" role="search" action="{% url 'search' %}">
      <input class="input-search" type="search" name="username" placeholder="Search Username"/>
      <a class="btn btn-default btn-sm" href="{% url 'search' %}" ></i> search</a>
    </form>
      <section class="icons-section" >
      <a href="/"><i style="color:black;" class="fa fa-align-justify "></i></a>
      <a class="btn btn-default btn-sm" href="{% url 'settings' %}" ><i class="fa fa-cog"></i> Settings</a>
      <a href="{% url "upload" %}"><i style="color:black;" class="fa fa-upload "></i> upload</a>
      <a href="{% url "profile" %}"><i style="color:black;" class="fa fa-user "></i>my profile</a>
      <a href="/logout"><i style="color:black;" class="fa fa-sign-out-alt "></i>logout</a>
      </section>
  </nav>
  {% endif %}

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
