{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container mt-5">
    <div class="row mt-5"></div>
    <div class="row mt-5"></div>
    <div class="row mt-5">
        {% if username %}
        <h2>{{username | length}} user found</h2>
        {% else %}
        <h2>Found 0 users for the searched name {{message | title}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if username %}
            {% for user in username %}
            <img src="{{user.profilePic.url}}" alt="" class="img-fluid" style="border-radius:50%">
            <h3 class="mt-5">
                    <a href="{% url 'yourprofile' pk=user.user.id %}" class="btn btn-primary mt-3 ml-5">{{user.user.username}}</a>
            </h3>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
